%section.personalInfo
    %div.header
        %h3= @member.firstName + " " +@member.lastName + ' (' + @member.party + ')'
    
    %section.memberCard
        %div
            %img.memberImage(src="#{@member.image_string}")
        %div.memberInfo
            %ul Senator from the state of #{@member.state}
            %ul= @member.DOB.strftime("%B %d, %Y")
            %button.btn.btn-success#compareButton Compare Senators


%section.legislativeInfo
    %h4.electionYear{class: renderElectionYearColor(@member.nextElection)} Relection Year: #{@member.nextElection}
    
    %div.memberStats   
        %section.memberStatsIntro
            %ul.horizontalList
                %li Votes with Party 
                %li Missed Votes
                %li Cosponsored Bills
        
        =render 'recent_activity'        


        

// **make use of google news api to get up to date news articles on person


