%div.container-fluid
    .row
        %section.personalInfo
            %div.header
                %h3#memberName= "#{@member.first_name} #{@member.last_name} (#{@member.party})"
            
            %section.memberCard
                %div
                    %img.memberImage(src="#{@member.image_string}")
                %div.memberInfo
                    %ul Senator from the state of #{@member.state}
                    %ul= @member.DOB.strftime("%B %d, %Y")
                    %button.btn.btn-primary#compareButton Compare Senators
        
        
        %section.legislativeInfo
            %h4.electionYear{class: renderElectionYearColor(@member.next_election)} Relection Year: #{@member.next_election}
            
            %div.memberStats   
                %section.memberStatsIntro
                    %ul.horizontalList
                        %li 
                            %div
                                %p Votes with Party
                                %p.stat=number_to_percentage(@member.votes_with_party)
                        %li 
                            %div
                                %p Missed Votes
                                %p.stat=number_to_percentage(@member.missed_votes)
                        %li 
                            %div
                                %p Cosponsored Bills
                                %p.stat xxxx
                
                =render 'recent_activity'        
    

