%header
    %h2.header
        Recently Signed Into Law
    %div.container-fluid
        %div.key
            .row
                %div.col-xs-6.text-right
                    %div.yes
                        Yes:
                    %div.vote-key.Yes.R
                        R
                    %div.vote-key.Yes.D
                        D
                    %div.vote-key.Yes.I
                        I
                %div.col-xs-6
                    %div.no
                        No:
                    %div.vote-key.No.R
                        R
                    %div.vote-key.No.D
                        D
                    %div.vote-key.No.I
                        I
    
%section.recent-bill-vote
    %div.recent-bill-vote-boxes
        -@votes.each do |vote|
            
            %div.single-bill-vote-box
            
                %div.bill-button 
                    =link_to "VIEW BILL", bill_path(vote.bill_id)

                %div.vertical-grid
                    %div.yes-votes
                        %div.yes-dem{style: "width:#{calculate_width(vote, 0, 'dem')};"}
                        %div.yes-repub{style: "width:#{calculate_width(vote, 0, 'repub')}"}
                        %div.yes-ind{style: "width:#{calculate_width(vote, 0, 'ind')}"}
                    %div.no-votes
                        %div.no-dem{style: "width:#{calculate_width(vote, 1, 'dem')}"}
                        %div.no-repub{style: "width:#{calculate_width(vote, 1, 'repub')}"}
                        %div.no-ind{style: "width:#{calculate_width(vote, 1, 'ind')}"}
                %div.bill-title
                    ="#{vote.bill_id}: #{vote.bill.title}"

                %br
                %div.result
                    ="Status: #{vote.result}"
                    
                %br
                %div.date
                    ="Date: #{vote.date.strftime("%b. %d").upcase}"
                    
                %br
                %div.bill-sponsor
                    Sponsor: 
                    -if vote.bill.sponsor_id != nil || vote.bill.sponsor_id != ""
                        %div{class: renderPartyColor(vote.bill.sponsor_party)}
                        ="#{vote.bill.govt_official.first_name} #{vote.bill.govt_official.last_name}"
                    -else
                        Not Available
